h1 {
  color: #f26a8d;
text-decoration: overline underline dotted 8px #bcf4de;
    letter-spacing: -1px;
   word-spacing: 10px;
}

body {
  background-color: #fbffb9;
}

img:hover {
  width: 300px;
    border-radius:70%;
  border: 12ppx dotted pink;
}
nav {
  list-style-type:none;
  width: 100%;
    background-color: #b8e0d2;
  overflow:hidden;
  position:fixed;
    top: 0;
  left:0;
}

li a {
  color: #ff758f;
  text-decoration: none;
  display:block;
  padding: 20px 100px;
  float: left;
}

li a:hover {
  background-color: #f4cae0;
    color:black;
}

